body {
  font-family: "Roboto", sans-serif;
  background-color: #122aa1;
  margin: 0;
  padding: 20px;
}

header {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 26px 13px -4px rgba(230, 102, 187, 0.2);
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
  color: rgb(240, 231, 236);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post p {
  margin-top: 0;
}

.post-form {
  margin-top: 20px;
}

.post-form input,
.post-form textarea {
  display: flex;
  width: 60%;
  font-size: 18px;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

#post-form button {
  padding: 10px 20px;
  background-color: #007bff;
  min-width: 120px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
}

#post-form button:hover {
  background-color: #00b330;
}
