body {
  font-family: "Roboto", sans-serif;
  background-color: #122aa1;
  margin: 0;
  padding: 20px;
}

header {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 26px 13px -4px rgba(230, 102, 187, 0.2);
  margin-bottom: 40px;
}

h1 {
  font-size: 35px;
  color: rgb(240, 231, 236);
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.post p {
  margin-top: 0;
}
